@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-color: #E3EEF2;
  color: #E3EEF2;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #13242A;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 7.5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75), -2px -2px 2px rgba(0, 0, 0, 0.60);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #2A9D8F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #E3EEF2;
  color: #13242A;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7.5px;
}

.task .link a{
  color: #2A9D8F;
}

.task .link a:hover{
  color: #13242A;
}

.reminder {
  border-left: 8px solid #FFA552;
}

.detail{
  font-size: 1.25em;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  background-color: #E3EEF2;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
  color: #13242A;
}

.form-control-check {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.form-control-check ~ :checked{
  background-color: #FFA552;
}
.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 1;
  height: 20px;
  justify-self: baseline;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer a {
  color: #0DBBB6;
  text-decoration: none;
}

footer p a {
  border-bottom: 1px dotted #0DBBB6;
}

footer a:hover{
  color: #0D6B66
}

footer p a:hover {
  border-bottom: 1px dotted #0D6B66;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 140px;
}

.login-form{
  margin-bottom: 30px ;
}

.login-container {
  background: #E3EEF2;
  color: #13242A;
  margin: 5px;
  border-radius: 7.5px;
  border: 5px solid #FFA552;
}

.form-container {
  background: #E3EEF2;
  color: #13242A;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.login-container label{
  font-weight: bold;
}

.login-container a{
  text-align: center;
  color: #2A9D8F;
}

.login-container a:hover{
  color: #13242A;
}

.login-header {
  display: flex;
  justify-content: center;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-grow: 50%;
}

.button-container *{
  flex: 1;
  margin: 0;
  color: #13242A;
  font-weight: bold;
  font-size: 1.35em;
  border-radius: 2px;
}